body {
  background-color: #d7d7d7;
}

.article-card {
  margin-top: 30px;
}

.article-h2 {
  margin: 0 auto;
  text-align: center;
}

.article-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}

.article-pre {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18pt;
}

.article-date {
  text-align: center;

  font-weight: bold;
  font-size: 24pt;
}
