body {
  background-color: #d7d7d7;
}

.article-card-gray {
  color: #a0a0a0;
}

.edit-button {
  height: 40px;
  width: 280px;
  font-size: 15pt;
}

.edit-button_add {
  margin-top: 5px;
}

.article-edit_remove {
  margin-top: 5px;
}

.article-card {
  margin-top: 30px;
}

.article-h2 {
  margin: 0 auto;
  text-align: center;
}

.article-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}

.article-img-post {
  height: 150px;
  width: 150px;
}

.article-pre {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18pt;
}

.article-date {
  text-align: center;

  font-weight: bold;
  font-size: 24pt;
}

.article-edit-page {
  float: right;
  height: 40px;
  width: 160px;
}

.article-edit {
  float: right;
  margin-right: 5px;
  height: 40px;
  width: 160px;
}

.paginator-cell {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.paginator-cell button {
  background-color: gainsboro;
  font-weight: bold;

  border-width: 1px;
  margin-left: 6px;
  height: 30px;
}

.paginator-active {
  border-color: blue !important;
}

.header {
  background-color: #08e8de;
  height: 50px !important;
  border-radius: 10px;
  border: 2px solid black;
}

.header-searchText {
  font-size: 10pt;
  font-weight: bold;
  height: 41px;
  width: 170px;
}

.header-name p {
  margin: 0 auto;
  font-weight: bold;
  font-size: 28pt;
  text-align: center;
}

.header-searchDate-input {
  font-size: 10pt;
  font-weight: bold;

  height: 41px;
  width: 170px;
}

.header-searchDate-button {
  align-self: center;
  flex-wrap: nowrap;
  width: 47px;
  height: 47px;
}

.edit-input {
  width: 100% !important;
}

.edit-input_area {
  height: 130px;
}

.edit-file {
  vertical-align: top;
  display: inline-block;
}
